* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    }
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: Arial, sans-serif; */
    height: 100vh;
}
h1,h2{
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
}
p,label{
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
}
.main-btn {
      width: 200px; /* Set a fixed width to maintain the size of the buttons */
      height: 50px; /* Set a fixed height */
}

.footer {
    font-size: 15px;
    color: gray;
    text-align: center;
    margin-top: auto;
    padding: 15px;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
}